.bluebox {
    background-color: #0000FF; /*blue*/
    color: #FFFFFF; /*white pass all */
    height:100px;
    width:auto;
    padding: 10px;
    border: 10px ridge;
    border-width:10px;
    border-color: black green orange yellow;
    border-style: ridge;
    border-radius:80px; 
    height:100px;
    width: 100px;
    margin:10px;
}

.greenbox {
    background-color: #00FA9A; /*MediumSpringGreen*/
    color: #000000;/* Default Font color black: pass all*/
    height:100px;
    width:auto;
    padding: 40px 70px;
    margin:10px;
    background-image: url(images/image.jpg);
    background-size: 100% 200%;
    outline-style: double; 
    outline-width: thick;
    outline-color: red;
}

.yellowbox {
    background-color: #FFFF00; /*yellow*/
    color: #000000;/* Default Font color black: pass all*/
    height:100px;
    width:auto;
    padding: 10px 20px 10px 30px;
    margin:10px;
}

.great{
    font-size: 300%;
}

p {
    margin: 0;
    background-color: #fcaaaa;
}